@model travelApp.Models.Classes.Blog
@{
    ViewBag.Title = "BringBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateBlog", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly="readonly" })
    <br />
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImg)
    @Html.TextBoxFor(x => x.BlogImg, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Content)
    @Html.TextAreaFor(x => x.Content,10,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}

